@model IEnumerable<IdentityRole>

@{
    ViewBag.title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <div class="form-group">
        <a class="btn btn-primary" style="width:auto" asp-action="CreateRole" asp-controller="Administration">Create Roles</a>
    </div>

    foreach (var role in Model)
    {

        <div class="card">
            <div class="card-header">
                Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @role.Name
                </h5>
                <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" style="width:auto">Edit</a>
                <a asp-action="DeleteRoles" asp-controller="administration" asp-route-id="@role.Id"
                   class="btn btn-danger" style="width:auto" onclick="return confirm('Are you want to delete the role: @role.Name')">
                    Delete
                </a>
            </div>
        </div>
    }
}

else
{
    <div class="card">
        <div class="card-header">
            No Roles to be displayed
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <a class="btn btn-primary" style="width:auto" asp-action="CreateRole" asp-controller="Administration">Create Roles</a>
            </h5>
        </div>
    </div>
}